<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <link rel="stylesheet" href="../css/about-style.css" />
        <meta name="viewport"/>
        <title>Sovereign</title>
        <audio id="click">
            <source src="../sounds/click.wav" type="audio/wav">
        </audio>
        <audio id="myMusic">
            <source src="../sounds/aboutsong.mp3" type="audio/mpeg">
        </audio>
    </head>

    <body id="background">
        <div id="loading"></div>
        <div class="container" id="headerContainer">
            <div class="row" id="header">
                <div class="col-lg-6">
                    <h1 id="headerTitle">S O V E R E I G N</h1>
                </div>
                <div class="col-lg-2">
                    <a href="../index.html" class="headerButton">HOME</a>
                </div>
                <div class="col-lg-2">
                    <a href="start.html" class="headerButton">PLAY</a>
                </div>
                <div class="col-lg-2">
                    <a href="../pages/about.html" class="headerButton">ABOUT</a>
                </div>
            </div>
        </div>

        <div id="about" class="container" onclick="playMusic()">
            <div class="row" id="menuButtons">
                <div class="col-lg-4">
                    <button id="makingOfButton" class="pageButton" v-on:click="makingOfPage">Making Of</button>
                </div>
                <div class="col-lg-4">
                    <button id="howToPlayButton" class="pageButton" v-on:click="howToPlayPage">How to Play</button>
                </div>
                <div class="col-lg-4">
                    <button id="cheatsButton" class="pageButton" v-on:click="cheatsPage">Cheat Codes</button>
                </div>
            </div>
            <div class="row" id="makingOf" v-if="start">
                <img src="https://i.ibb.co/P6XS7Ym/soverign-about-00000.jpg">
                <p class="bold center">1,636 Lines of HTML, 1,672 Lines of CSS, and 4,442 Lines of JavaScript.</p>
            </div>
            <div class="row" id="makingOf" v-if="makeingOf">
                <h1>Making Of</h1>
                <p>I'm currently enrolled in a web design class at Brigham Young University!</p>
                <p>I began working on this project after our first lab MONTHS ago. This was going to be a direct rip off of "A Dark Room", an amazing text based game I had played years ago.</p>
                <p>But my childhood memories of playing "Age of Mythology" heavily influenced the logistics game as well. As an homage to those days, 50% of the sound effects are directly from "Age of Mythology".</p>
                <a href="http://adarkroom.doublespeakgames.com/">A Dark Room</a>
                <p>I did a ton of research online and was using an HTML tool called Canvas to display everything.</p>
                <p class="bold">It was a nightmare.</p>
                <p>I had no idea what I was doing and the hundreds of hours I put into it were my own fault.</p>
                <p>I had to define what a BUTTON was by finding the "X" "Y" of each click and hard coding button positions in. Everything was painful.</p>
                <p>80% of the code and functions were THERE, I just lacked the time to sit down for hours programming in buttons to displaying them.</p>
                <p>You can find that failed project here.</p>
                <a href="http://sovereign.andrewdanielyoung.com/">Sovereign 1.0</a>
                <p>I abandoned that and worked on my labs and other fun projects -- like a website that will 100% give you a seizure.</p>
                <a href="http://seizure.andrewdanielyoung.com/">This Will Cause Seizures</a>
                <p>Then we learned about Vue in class! I knew I had two weeks til my Creative Project using Vue was due, so I got a head start.</p>
                <p>It was a nightmare to convert the thousands of lines I had written for the original game to something Vue could understand.</p>
                <p>More time even to use layers and layers of Bootstrap Grids to display the screen.</p>
                <p>More time even to decide I wanted sound effects and search for the perfect ones online. </p>
                <p>MORE time even to add "this." to EVERY VARIABLE.</p>
                <p>In total, I have no doubt logged over 200 hours into this one project.</p>
                <p class="bold">1,636 Lines of HTML, 1,672 Lines of CSS, and 4,442 Lines of JavaScript.</p>
                <p>It's been quite the monster to sort through just to find what I need to edit.</p>
                <p>Looking back there are so many things I could have done better. I mean given that for every line of HTML, I had a line of CSS, screams something could have been done better.</p>
                <p>I will say this, a large portion of the code, which came from the original canvas project, was before I had learned much. The idea of pushing objects to an array to be read by a function that displayed them as a comment and kept track of their time was a MIND blower to me back when I wrote it.</p>
                <p>There are a bunch of repeating code that could have been solved with a clever method and better data structures.</p>
                <p>I also just read on Vue's website about components which apprently it said clearly:</p>
                <p id="quote">"In a Vue application, we don’t want all of our data, methods, computed properties, etc. living on the root instance. Over time, that would become unmanageable".</p>
                <p>All those hours of scrolling through thousands of lines.</p>
                <p>I'm screaming. But I'll do that version next.</p>
                <div id="helloDiv">
                    <img id="helloworld" src="https://i.ibb.co/h9ZPhj0/hello-world-00000.jpg" alt="hello-world-00000">
                </div>
                <p>I unintentionally listened to the same song on loop for countless hours while coding this. It's the one playing now!</p>
                <p>It's probably the reason I wanted to make console a bit sassy.</p>
                <p>I just imagine this lil guy doing all the talking.</p>
                <a href="https://www.youtube.com/watch?v=Yw6u6YkTgQ4&">Hello World Song</a>
                <p>The plan is to work on some other random fun projects, then return to this project when I can do more.</p>
                <p>I plan on adding land tiles and a map, to let you invade other tiles for varying different resources abundant in each one.</p>
                <p>As well as view other kingdoms and form alliances. There needs to be a bit more story or choices to be made.</p>
                <p>My efforts to fufill that in this instance were special market items of which can be morally offputing.</p>
                <p id="goodbye">I hope you enjoy the game!</p>
                <p>It was a lot of work and a lot of fun to write.</p>
                <p>I'm very proud of this project and will never forget all the zombie like coding days I spent on it.</p>
                <p>To anyone out there who wishes they knew how to code, I barely know anything. I just put in the time. Emphasis on time.</p>
                <p>I researched what I needed to know, and made the best due I could with the knowledge I have.</p>
                <p>You can too!</p>
                <p id="goodbye">Big thanks to "Ctr-F" and "Double-Click" for being my pals through it all.</p>
                <p>But in all realness, big thanks to Chris Tabaska, Dominick Lanni, Cole Hanson, Ali Young, Cyrus Cowley and Rex Boyce for helping me debug and balance.</p>
                <p>And to everyone else for the support while I missed tons of homework assignments and school -- off stuck in my keyboard.</p>
                <p id="darker">Next project is a maze game called "The Libary Game"!</p>
                <p>Rules are you have to be in a public area with volume on full blast. The ball follows your mouse as you go through the maze of moving objects, and if you touch anything your computer plays really loud embarassing sounds which get increasingly worse!</p>
                <p>HA HA!</p>
                <p>Farewell</p>
                <p id="goodbye">-Andrew Young</p>
                <p>PS: Email me your high scores!</p>
                <p>andrew@youngshome.com</p>
            </div>
            <div class="row" id="howToPlay" v-if="howToPlay">
                <h1>Sovereign is all about Balance.</h1>
                <p>There are a few ways to lose, but a whole bunch of factors that can lead to them.</p>
                <p >Ways you can LOSE:</p>
                <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starving to death!</p>
                <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invading army kills everyone!</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your citizen's kick you out because satisfaction is less then 20%!</p>
                <p>Best to avoid any of those happening.</p>
                <h2>Click the Buttons Below to Find out How to Not Lose!</h2>
                <div class="row" id="sideButtonsDiv">
                    <div class="col-lg-4">
                        <button class="sideButtons" class="pageButton" v-on:click="starvingPage">Starving</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="sideButtons" class="pageButton" v-on:click="invasionsPage">Invasions</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="sideButtons" class="pageButton" v-on:click="satisfactionPage">Satisfaction</button>
                    </div>
                </div>
                <div class="row waystonotdie" v-if="starving">
                    <h1>Full Farms means Full Bellies</h1>
                    <p>Food is pretty easy to come by.</p>
                    <p>Your ownly outsource is the citizen needs, which is one per month per citizen.</p>
                    <p>Hunting for your food seems pretty ideal.</p>
                    <p>However famines are a possiblity.</p>
                    <p>Famines:</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Farms make 30% less.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Citizens need x2 as much food.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Famines last 3 months.</p>
                    <p>Because of this uncontrolable event, it's best to keep farms well staffed.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Additionally Robbers have a chance of taking food.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And lost invasions will take food as well.</p>
                </div>
                <div class="row waystonotdie" v-if="invasions">
                    <h1>BE PREPARED</h1>
                    <p>Invasions start happening after you go past 30 citizens.</p>
                    <p>The enemy strength is determined by your population.</p>
                    <p>The more people you have, the more you should invest in defences.</p>
                    <p>Ways to Defend</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weapons allow regular citizens to fight.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soldiers cost a monthly wage.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archers cost a monthly wage.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catapults require two soldiers to man and wages.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Build up walls for big defensive boosts.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hire Mercinaries to be safe for three months.</p>
                    <p>Should you lose an invasion, you're kingdom is ransacked of its resources.</p>
                    <p>Deaths are calculated by how bad you lost.</p>
                    <p>Better defenses mean less deaths.</p>
                    <p>After every invasion, soldiers, archers and catapults are the first to die.</p>
                    <p>So remember to restrengthen after every battle!</p>
                </div>
                <div class="row waystonotdie" v-if="satisfaction">
                    <h1>Happy town!</h1>
                    <p>Satisfaction is based on a bunch of differenct factors.</p>
                    <p>Some of them are out of your control, so keep them happy!</p>
                    <p>Ways to HAPPY</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hold feasts or town faires for temporary boosts.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Market, Town Square and Tavern give perminant boosts.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keep those taxes low!</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be victorious in battle for boosts! Lose and citizens will be sad.</p>
                    <p id="lessmargin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certain Special Items help with satisfaction.</p>
                    <p>Disasters, bad special items, high taxes, losing to invasions are all things that could get you booted from town.</p>
                    <p>Cheat code is available to disable death by satisfaction.</p>
                
                </div>

            </div>
            <div class="row" id="actions" v-if="actions">
                <p>I've spent over 200 hours on this, Imma get to this one later.</p>
            </div>
            <div class="row" id="buildings" v-if="buildings">
                <p>I've spent over 200 hours on this, Imma get to this one later.</p>
            </div>
            <div class="row" id="disasters" v-if="disasters">
                <p>I've spent over 200 hours on this, Imma get to this one later.</p>
            </div>
            <div class="row" id="specials" v-if="specials">
                <p>I've spent over 200 hours on this, Imma get to this one later.</p>
            </div>
            <div class="row" id="cheats" v-if="cheats">
                <h1>Cheater Cheater Pumkin Eater</h1>
                <p>Ahh so you want some cheat codes to get you through?</p>
                <p>To use a cheat, there's a little invisiable text box below and on the left of the game screen. Entering an accurate code will cause your text to disappear and usually a sound to display.</p>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 center guide">--Code--</div>
                        <div class="col-lg-4 center guide">--Effect--</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">WALKING ON SUNSHINE ON LOOP</div>
                        <div class="col-lg-4 right">Unlimited Happiness!</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">*BLESS*</div>
                        <div class="col-lg-4 right">Adds to all resources.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">BABY BOOM</div>
                        <div class="col-lg-4 right">Max population and houses.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">ADD DAYS</div>
                        <div class="col-lg-4 right">Jump forward in time.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">ANTI VAX MOVEMENT</div>
                        <div class="col-lg-4 right">Causes Plague.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">WHO NEEDS FIREMEN</div>
                        <div class="col-lg-4 right">Causes Fire.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">WAVES AT OTHER KINGDOM</div>
                        <div class="col-lg-4 right">Causes Invasion.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">OCEANS 11</div>
                        <div class="col-lg-4 right">Causes Robbery.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">IS IT 2012 YET</div>
                        <div class="col-lg-4 right">Causes Storm.</div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 left">LISTENS TO TOTO</div>
                        <div class="col-lg-4 right">Causes Famine.</div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="../js/about.js"></script>
        <script>
            function onReady(callback) {
                var intervalId = window.setInterval(function() {
                    if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalId);
                    callback.call(this);
                    }
                }, 1000);
                }
    
            onReady(function() {
                document.getElementById("about").style.display = "block";
                document.getElementById("headerContainer").style.display = "block";
                document.getElementById("loading").style.display = "none";
            });
        </script>
    </body>
    <div id="footer">
        <div class="container">
            <div class="row">
                    <div class="col-lg-6">
                            <a class="clear" id="footerLink" href="https://github.com/andyruwruw/gamesovereign.git">Website Github</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="clear"id="footerLink" href="#">Zoom out if you cannot see the full window.</a>
                        </div>
            </div>
        </div>
    </div>
</html>